{% extends 'layout.html' %}
{% load static %}

{% block content %}

    <style>
        img{
            margin-left: 600px;
        }
        
    </style>

    <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-3">
                        <img class="card-img" src="{% static 'img/medusa.jpeg' %}" alt="" width="30%" height="30%" left="30px">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <div class="card-title">MEDUSA - APP2</div>
                            <p class="card-text">
                                Medusa, Yunan mitolojisinde gözlerine bakanı taşa çevirdiğine inanılan yılan saçlı, keskin dişli, dişi canavar. Gorgon kardeşlerden tek ölümlü olandır. Bu yüzden insanların kahramanı Perseus tarafından öldürülebilmiştir.
                            </p>
                            <p>
                                <p class="card-text">
                                    <small class="text-muted">(3000 Yıl Önce)</small>
                                </p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}