{% extends 'layout.html' %}
{% load static %}

{% block content %}
    <h1>Bilgisayarlar</h1>
    <br/>
    <br/>
    
          <!--Section: Products v.3-->
          <section class="text-center mb-4">
            {%for bilgisayar in bilg_list%}

            <!--Grid row-->
            <div class="row wow fadeIn">
    
              <!--Grid column-->
              <div class="col-lg-3 col-md-6 mb-4">
    
                <!--Card-->
                <div class="card">
    
                  <!--Card image-->
                  <div class="view overlay">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg" class="card-img-top"
                      alt="">
                    <a>
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
                  <!--Card image-->
                  
                  <!--Card content-->
                  <div class="card-body text-center">
                    
                    <!--Category & Title-->
                    <h5>
                      <strong>
                        <a href="" class="dark-grey-text">
                            
                            {{bilgisayar.isim}}
                            
                        </a>
                      </strong>
                    </h5>
    
                    <h4 class="font-weight-bold blue-text">
                      <strong>
                        
                        {{bilgisayar.fiyat1}} TL
                        <br/>
                        {{bilgisayar.fiyat2}} TL
                        <br/>
                        {{bilgisayar.fiyat3}} TL
                        
                      </strong>
                    </h4>
    
                  </div>
                  <!--Card content-->
    
                </div>
                <!--Card-->
    
              </div>
              <!--Grid column-->
    
              <!--Grid column-->
              <div class="col-lg-3 col-md-6 mb-4">
    
                <!--Card-->
                <div class="card">
    
                  <!--Card image-->
                  <div class="view overlay">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13.jpg}" class="card-img-top"
                      alt="">
                    <a>
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
                  <!--Card image-->
    
                  <!--Card content-->
                  <div class="card-body text-center">
                    <!--Category & Title-->
                    <h5>
                      <strong>
                        <a href="" class="dark-grey-text">{{bilgisayar.isim}}</a>
                      </strong>
                    </h5>
    
                    <h4 class="font-weight-bold blue-text">
                      <strong>
                        {{bilgisayar.fiyat1}} TL
                        <br/>
                        {{bilgisayar.fiyat2}} TL
                        <br/>
                        {{bilgisayar.fiyat3}} TL
                      </strong>
                    </h4>
                    
                  </div>
                  <!--Card content-->
                  
                </div>
                <!--Card-->
    
              </div>
              <!--Grid column-->
    
              <!--Grid column-->
              <div class="col-lg-3 col-md-6 mb-4">
    
                <!--Card-->
                <div class="card">
    
                  <!--Card image-->
                  <div class="view overlay">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14.jpg" class="card-img-top"
                      alt="">
                    <a>
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
                  <!--Card image-->
    
                  <!--Card content-->
                  <div class="card-body text-center">
                    <!--Category & Title-->
                    <h5>
                      <strong>
                        <a href="" class="dark-grey-text">Grey blouse
                        </a>
                      </strong>
                    </h5>
    
                    <h4 class="font-weight-bold blue-text">
                      <strong>99$</strong>
                    </h4>
    
                  </div>
                  <!--Card content-->
    
                </div>
                <!--Card-->
    
              </div>
              <!--Grid column-->
    
              <!--Fourth column-->
              <div class="col-lg-3 col-md-6 mb-4">
    
                <!--Card-->
                <div class="card">
    
                  <!--Card image-->
                  <div class="view overlay">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15.jpg" class="card-img-top"
                      alt="">
                    <a>
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
                  <!--Card image-->
    
                  <!--Card content-->
                  <div class="card-body text-center">
                    <!--Category & Title-->
                    <h5>
                      <strong>
                        <a href="" class="dark-grey-text">Black jacket</a>
                      </strong>
                    </h5>
    
                    <h4 class="font-weight-bold blue-text">
                      <strong>219$</strong>
                    </h4>
    
                  </div>
                  <!--Card content-->
    
                </div>
                <!--Card-->
    
              </div>
              <!--Fourth column-->
    
            </div>
            <!--Grid row-->
    
            <!--Grid row-->
            <div class="row wow fadeIn">
    
              <!--Grid column-->
              <div class="col-lg-3 col-md-6 mb-4">
    
                <!--Card-->
                <div class="card">
    
                  <!--Card image-->
                  <div class="view overlay">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13.jpg" class="card-img-top"
                      alt="">
                    <a>
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
                  <!--Card image-->
    
                  <!--Card content-->
                  <div class="card-body text-center">
                    <!--Category & Title-->
                    <h5>
                      <strong>
                        <a href="" class="dark-grey-text">Denim shirt
                        </a>
                      </strong>
                    </h5>
    
                    <h4 class="font-weight-bold blue-text">
                      <strong>120$</strong>
                    </h4>
    
                  </div>
                  <!--Card content-->
    
                </div>
                <!--Card-->
    
              </div>
              <!--Grid column-->
    
              <!--Grid column-->
              <div class="col-lg-3 col-md-6 mb-4">
    
                <!--Card-->
                <div class="card">
    
                  <!--Card image-->
                  <div class="view overlay">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14.jpg" class="card-img-top"
                      alt="">
                    <a>
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
                  <!--Card image-->
    
                  <!--Card content-->
                  <div class="card-body text-center">
                    <!--Category & Title-->
                    <h5>
                      <strong>
                        <a href="" class="dark-grey-text">Sweatshirt</a>
                      </strong>
                    </h5>
    
                    <h4 class="font-weight-bold blue-text">
                      <strong>139$</strong>
                    </h4>
    
                  </div>
                  <!--Card content-->
    
                </div>
                <!--Card-->
    
              </div>
              <!--Grid column-->
    
              <!--Grid column-->
              <div class="col-lg-3 col-md-6 mb-4">
    
                <!--Card-->
                <div class="card">
    
                  <!--Card image-->
                  <div class="view overlay">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15.jpg" class="card-img-top"
                      alt="">
                    <a>
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
                  <!--Card image-->
    
                  <!--Card content-->
                  <div class="card-body text-center">
                    <!--Category & Title-->
                    <h5>
                      <strong>
                        <a href="" class="dark-grey-text">Grey blouse
                        </a>
                      </strong>
                    </h5>
    
                    <h4 class="font-weight-bold blue-text">
                      <strong>99$</strong>
                    </h4>
    
                  </div>
                  <!--Card content-->
    
                </div>
                <!--Card-->
    
              </div>
              <!--Grid column-->
    
              <!--Fourth column-->
              <div class="col-lg-3 col-md-6 mb-4">
    
                <!--Card-->
                <div class="card">
    
                  <!--Card image-->
                  <div class="view overlay">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg" class="card-img-top"
                      alt="">
                    <a>
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
                  <!--Card image-->
    
                  <!--Card content-->
                  <div class="card-body text-center">
                    <!--Category & Title-->
                    <h5>
                      <strong>
                        <a href="" class="dark-grey-text">Black jacket</a>
                      </strong>
                    </h5>
    
                    <h4 class="font-weight-bold blue-text">
                      <strong>219$</strong>
                    </h4>
    
                  </div>
                  <!--Card content-->
    
                </div>
                <!--Card-->
    
              </div>
              <!--Fourth column-->
    
            </div>
            <!--Grid row-->
    
            {% endfor %}  
        </section>
          <!--Section: Products v.3-->

{% endblock %}


