{% extends 'layout.html' %}
{% load static %}

{% block content %}
    <h1>Bilgisayarlar</h1>
    <br/>
    <br/>
    
          <!--Section: Products v.3-->
          
          <section class="text-center mb-4">
            {%for bilgisayar in bilg_list%}
            <hr>
            
            <!--Grid row-->
            <div class="row wow fadeIn">

            
              
    
            <div class="row wow fadeIn">

              <!--Grid column-->
              <div class="col-md-6 mb-4">
      
                <img src="{{bilgisayar.Img}}" class="img-fluid" alt="">
      
              </div>
              <hr>
              <!--Grid column-->
      
              <!--Grid column-->
              <div class="col-md-6 mb-4">
      
                <!--Content-->
                <div class="p-4">
      
                  <h5 class="font-weight-normal blue-text">    
                    <span>
                      {%if bilgisayar.HepsiBurada.Mevcut %}
                      <a href="{{bilgisayar.HepsiBurada.URL}}">Hepsiburada: {{bilgisayar.HepsiBurada.Price}}</a>
                      {%endif%}
                      <br/>
                      {%if bilgisayar.teknosa.Mevcut %}
                      <a href="{{bilgisayar.Teknosa.URL}}">Teknosa: {{bilgisayar.teknosa.Price}}</a>
                      {%endif%}
                      <br/>
                      {%if bilgisayar.Amazon.Mevcut %}
                      <a href="{{bilgisayar.Amazon.URL}}">Amazon: {{bilgisayar.Amazon.Price}}</a>
                      {%endif%}
                  </span>
                  </h5>
      
                  <a href="{% url 'product_page' bilgisayar.Name %}" >
                    <p class="lead font-weight-bold">
                      <h6 style="color: black;">{{bilgisayar.Name}}</h6>
                    </p>
                  </a>
                  
                </div>
                <!--Content-->
              </div>
              <!--Grid column-->
              <hr>
            </div>
            {% endfor %} 
        </section>
          <!--Section: Products v.3-->

{% endblock %}


