
{% extends 'product-layout.html' %}
{% load static %}

{% block content %}

  <!--Main layout-->

  <main class="mt-5 pt-4">
    
    {%for bilgisayar in product%}
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      
      <div class="row wow fadeIn">
        
        <picture itemprop="image" index="0" data-zoomable="False" data-cloudzoom="zoomImage: '{{Bilgisayar.Img}}'" data-bind="css: {'hidden': !isAdultShow}">
          <source class="product-image" srcset="{{Bilgisayar.Img}} 1x" type="image/jpeg">
          <img width="599" height="599" itemprop="image" class="product-image" data-zoomable="False" data-cloudzoom="zoomImage: '{{Bilgisayar.Img}}'" src="{{Bilgisayar.Img}}" alt="{{Bilgisayar.Name}}" title="{{Bilgisayar.Name}}">
        </picture>

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">
            


            <p class="lead font-weight-bold">
                <h2>{{bilgisayar.Name}}</h2>

            <h4 class="font-weight-normal blue-text">    
              <span>
                <br/>
                <a href="{{bilgisayar.HepsiBurada.URL}}">Hepsiburada: {{bilgisayar.HepsiBurada.Price}}</a>
                <br/>
                <br/>
                <a href="{{bilgisayar.Teknosa.URL}}">Teknosa: {{bilgisayar.teknosa.Price}}</a>
                <br/>
                <br/>
                <a href="{{bilgisayar.Amazon.URL}}">Amazon: {{bilgisayar.Amazon.Price}}</a>
                <br/>
                <br/>
                <a href="{{bilgisayar.vatanBilgisayar.URL}}">VatanBilgisayar: {{bilgisayar.vatanBilgisayar.Price}}</a>
                <br/>
                <br/>
                <a href="{{bilgisayar.cicekSepetiExtra.URL}}">ÇiçekSepetiExtra: {{bilgisayar.cicekSepetiExtra.Price}}</a>
                <br/>
                <br/>
                <a href="{{bilgisayar.Trendyol.URL}}">Trendyol: {{bilgisayar.Trendyol.Price}}</a>
                <br/>
                <br/>
                <a href="{{bilgisayar.n11.URL}}">N11: {{bilgisayar.n11.Price}}</a>
    
              </span>
            </h4>
          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 text-center">

          <h4 class="my-4 h4">Detaylı Bilgiler</h4>

          <table class="data-list tech-spec">
            <caption></caption>
            <tbody>
                    <tr>
                        <th>Bellek Hızı</th>
                        <td>
                                <span>{{bilgisayar.BellekHızı}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>Bellek Yuvası</th>
                        <td>
                                <span>{{bilgisayar.BellekYuvası}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>Bluetooth Özelliği</th>
                        <td>
                                <span>{{bilgisayar.BluetoothÖzelliği}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>Cihaz Ağırlığı</th>
                        <td>
                                <span>{{bilgisayar.BluetoothÖzelliği}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>Dokunmatik Ekran</th>
                        <td>
                          <span>{{bilgisayar.BellekYuvası}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>Ekran Boyutu</th>
                        <td>
                          <span>{{bilgisayar.BellekYuvası}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>Ekran Kartı Bellek Tipi</th>
                        <td>
                          <span>{{bilgisayar.BellekYuvası}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>Ekran Kartı Hafızası</th>
                        <td>
                          <span>{{bilgisayar.BellekYuvası}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>Ekran Kartı Tipi</th>
                        <td>
                          <span>{{bilgisayar.BellekYuvası}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>Ekran Kartı</th>
                        <td>
                          <span>{{bilgisayar.BellekYuvası}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>Ekran Panel Tipi</th>
                        <td>
                          <span>{{bilgisayar.BellekYuvası}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>eMMC Kapasitesi</th>
                        <td>
                          <span>{{bilgisayar.BellekYuvası}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>Harddisk Kapasitesi</th>
                        <td>
                          <span>{{bilgisayar.BellekYuvası}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>HDMI</th>
                        <td>
                          <span>{{bilgisayar.BellekYuvası}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>İşlemci Cache</th>
                        <td>
                          <span>{{bilgisayar.BellekYuvası}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>İşlemci Nesli</th>
                        <td>
                          <span>{{bilgisayar.BellekYuvası}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>İşlemci Tipi</th>
                        <td>
                          <span>{{bilgisayar.BellekYuvası}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>İşlemci</th>
                        <td>
                          <span>{{bilgisayar.BellekYuvası}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>İşletim Sistemi</th>
                        <td>
                          <span>{{bilgisayar.BellekYuvası}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>Kart Okuyucu</th>
                        <td>
                          <span>{{bilgisayar.BellekYuvası}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>Klavye</th>
                        <td>
                          <span>{{bilgisayar.BellekYuvası}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>Maksimum İşlemci Hızı</th>
                        <td>
                          <span>{{bilgisayar.BellekYuvası}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>Max Ekran Çözünürlüğü</th>
                        <td>
                          <span>{{bilgisayar.BellekYuvası}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>Optik Sürücü</th>
                        <td>
                          <span>{{bilgisayar.BellekYuvası}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>Parmak İzi Okuyucu</th>
                        <td>
                          <span>{{bilgisayar.BellekYuvası}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>Ram (Sistem Belleği)</th>
                        <td>
                          <span>{{bilgisayar.BellekYuvası}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>Ram Tipi</th>
                        <td>
                          <span>{{bilgisayar.BellekYuvası}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>Renk</th>
                        <td>
                          <span>{{bilgisayar.BellekYuvası}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>SSD Kapasitesi</th>
                        <td>
                          <span>{{bilgisayar.BellekYuvası}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>Temel İşlemci Hızı</th>
                        <td>
                          <span>{{bilgisayar.BellekYuvası}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>Ürün Modeli</th>
                        <td>
                          <span>{{bilgisayar.BellekYuvası}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>Webcam</th>
                        <td>
                          <span>{{bilgisayar.BellekYuvası}}</span>
                        </td>
                    </tr>
    
            </tbody>
        </table>

        </div>
        <!--Grid column-->
        
      </div>
      <!--Grid row-->

    </div>
    
    {%endfor%}
  </main>
  <!--Main layout-->

  
{% endblock %}