
{% extends 'product-layout.html' %}
{% load static %}

{% block content %}

  <!--Main layout-->

  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      
      <div class="row wow fadeIn">
        
        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="{{bilgisayar.Img}}" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">
            {%for bilgisayar in product%}


            <p class="lead font-weight-bold">
                <h2>{{bilgisayar.Name}}</h2>
                </p>

            <h4 class="font-weight-normal blue-text">    
              <span>
                <br/>
                <a href="{{bilgisayar.HepsiBurada.URL}}">Hepsiburada: {{bilgisayar.HepsiBurada.Price}}</a>
                <br/>
                <br/>
                <a href="{{bilgisayar.Teknosa.URL}}">Teknosa: {{bilgisayar.teknosa.Price}}</a>
                <br/>
                <br/>
                <a href="{{bilgisayar.Amazon.URL}}">Amazon: {{bilgisayar.Amazon.Price}}</a>
                <br/>
                <br/>
                <a href="{{bilgisayar.vatanBilgisayar.URL}}">VatanBilgisayar: {{bilgisayar.vatanBilgisayar.Price}}</a>
                <br/>
                <br/>
                <a href="{{bilgisayar.cicekSepetiExtra.URL}}">ÇiçekSepetiExtra: {{bilgisayar.cicekSepetiExtra.Price}}</a>
                <br/>
                <br/>
                <a href="{{bilgisayar.Trendyol.URL}}">Trendyol: {{bilgisayar.Trendyol.Price}}</a>
                <br/>
                <br/>
                <a href="{{bilgisayar.n11.URL}}">N11: {{bilgisayar.n11.Price}}</a>
    
              </span>
            </h4>
            {%endfor%}
          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 text-center">

          <h4 class="my-4 h4">Detaylı Bilgiler</h4>

          <p>TEST TEST TEST 
            TEST TEST TEST
          </p>

        </div>
        <!--Grid column-->
        
      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->

  
{% endblock %}